In [1]:
import pandas as pd 
data={
     "Stock": ["TCS", "Infosys", "HDFC", "Wipro"],
    "Buy Price": [3200, 1500, 1725, 410],
    "Current Price": [3450, 1420, 1800, 390],

}
df=pd.DataFrame(data)
from IPython.display import display
display(df)

df["profit"] = df["Current Price"] - df["Buy Price"]
display(df)

     Stock  Buy Price  Current Price
0      TCS       3200           3450
1  Infosys       1500           1420
2     HDFC       1725           1800
3    Wipro        410            390

     Stock  Buy Price  Current Price  profit
0      TCS       3200           3450     250
1  Infosys       1500           1420     -80
2     HDFC       1725           1800      75
3    Wipro        410            390     -20

In [3]:
import pandas as pd 
data={
     "Stock": ["TCS", "Infosys", "HDFC", "Wipro"],
    "Buy Price": [3200, 1500, 1725, 410],
    "Current Price": [3450, 1420, 1800, 390],
}
df=pd.DataFrame(data)
from IPython.display import display


df["Profit"]=df["Buy Price"]-df["Current Price"]

df["Return %"]=((df["Current Price"]-df["Buy Price"])/df["Buy Price"]*100)
df["Return %"] = df["Return %"].round(2)
def rate_stock(r):
  if r>10:
    return"strong"
  elif 10>=r>=0:
    return"moderate"
  else :
     return"weak"
df["Rating"]=df["Return %"].apply(rate_stock)
display(df)
# first i displayed after all three df and got three different tables first with only 
#given set od data and profit,then second with return and third with rating,
#it wasnot looking all that great and clean i only displayed or printed once at end 
#to put it all together.

     Stock  Buy Price  Current Price  Profit  Return %    Rating
0      TCS       3200           3450    -250      7.81  moderate
1  Infosys       1500           1420      80     -5.33      weak
2     HDFC       1725           1800     -75      4.35  moderate
3    Wipro        410            390      20     -4.88      weak